body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 1.8em;
  font-weight: 500;
}

.navbar {
  background-color: #0c000c;
  border-color: #0b0b0b;
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: 500
  color: #f0f0f0
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ccffcc;
}


.navbar-brand {
  font-size: 3em;
  font-weight: 500;
}


main .row img {
  margin: 0 0 30px;
  width: 100%;
}

main .row a {
  font-weight: bold;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: white;
  text-shadow: none;
  background-color: #34914d;
}

.btn.btn-primary:hover {
  color: white;
  background-color: #49d16d;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
